<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="app">
        <header-back title="Login"></header-back>
        <form v-on:submit="loginUser" id="loginForm">
            <div id="userInput">
                <div>                   
                        <p class="statusmessage" v-for="error in errors">{{ error }}</p>
                </div>
                <div class="loginDiv">
                    <input type="email" name="email" id="email" v-model="formData.email" placeholder="E-Mail" required />
                </div>
                <div class="loginDiv">
                    <input type="password" name="password" id="password" v-model="formData.password" placeholder="Passwort" required />
                </div>
                <p class="forgotPw" @click="redirectForgotPw">Passwort vergessen?</p>
            </div>
            <div id="theButtons">
                <button type="submit" class="green-button" >Login</button>
                <button type="button" class="green-button" v-on:click='redirectToRegister'> Registrieren</button>
            </div>
        </form>
    </div>
    <script src="../../scripts/components.js"></script>
    <script src="../../scripts/login.js"></script>
</body>
</html>