<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <script src="../../scripts/logout.js"></script>
    <title>Passwort ändern</title>
</head>
<body>
    <div id="app">
        <header-back title="Passwort ändern" :scrolling="isScrolling" @go-back="redirectToProfile()"></header-back>
        <form v-if="!succeeded" v-on:submit="changePassword">
            <div>
                <ul>
                    <li v-for="error in errors">{{ errors }}</li>
                </ul>
            </div>
            <div>
                <label for="password-old">Altes Passwort:</label>
                <input type="password" name="password-old" id="password-old" v-model="formData.passwordOld" required />
            </div>
            <div>
                <label for="password">Neues Passwort:</label>
                <input type="password" name="password" id="password" v-model="formData.password" required />
            </div>
            <div>
                <label for="password-repeat">Passwort wiederholen:</label>
                <input type="password" name="password-repeat" id="password-repeat" v-model="formData.passwordRepeat" required />
            </div>
            <input type="submit" class="green-button" value="Passwort ändern" />
            <input type="button" class="red-button" v-on:click="redirectToHome" value="Abbrechen" />
        </form>
        <div v-else>
            <p>Passwort wurde erfolgreich geändert, Sie müssen sich erneut anmelden.</p>
            <input type="button" class="red-button" v-on:click="redirectToLogin" value="Weiter zum Login" />
        </div>
    </div>
    <nav-bar></nav-bar>
    <script src="../../scripts/components.js"></script>
    <script src="../../scripts/passwort_aendern.js"></script>

</body>
</html>