<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css" />
    <script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <title>Registrieren</title>
</head>
<body>
    <div id="app">
        <header-back title="Registrieren" @go-back="redirectToLogin()"></header-back>
        <form v-if="!succeeded" v-on:submit="registerUser" id="registerForm">
            <div id="userInput">
                <div>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                <div>
                    <label for="firstname">Name:</label>
                    <input type="text" name="firstname" id="firstname" v-model="formData.firstname" placeholder="Vorname" required />
                </div>
                <div>
                    <label for="lastname">Name:</label>
                    <input type="text" name="lastname" id="lastname" v-model="formData.lastname" placeholder="Nachname" required />
                </div>
                <div>
                    <label for="email">E-Mail:</label>
                    <input type="email" name="email" id="email" v-model="formData.email" placeholder="E-Mail" required />
                </div>
                <div>
                    <label for="password">Passwort:</label>
                    <input type="password" name="password" id="password" v-model="formData.password" placeholder="Passwort" required />
                </div>
                <div>
                    <label for="password-repeat">Passwort wiederholen:</label>
                    <input type="password" name="password-repeat" id="password-repeat" v-model="formData.passwordRepeat" placeholder="Passwort" required />
                </div>
            </div>
            <input type="submit" class="green-button" value="Registrieren"/>
        </form>
        <div v-else>
            <p>Registrierung erfolgreich, Sie erhalten in Kürze eine Bestätigungsmail.</p>
            <input type="button" class="red-button" v-on:click="redirectToLogin" value="Weiter zum Login" />
        </div>
    </div>
    <script src="../../scripts/components.js"></script>
    <script src="../../scripts/register.js"></script>
</body>
</html>