<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <script src="../../lib/vue/vue.min.js"></script>
    <script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <title>Meine Fahrten</title>
</head>
<body class="main">
    <div id="app">
        <header>
            <h1 class="main-heading">Meine Fahrten</h1>
        </header>
        <img src="../../images/illustrationen/meineFahrten_forGreyBG.svg" class="illustration_meineFahrten">
        <nav id="nav-bar">
            <div id="slider" @click="switchMenu"></div>
            <p id="driver" class="menu active_menu" @click="switchMenu">Fahrer</p>
            <p id="codriver" class="menu" @click="switchMenu">Mitfahrer</p>
        </nav>

        <section class="bottom-padding">

            <h6 class="timing-meine-Fahrten">Kommende Fahrten</h6>
            <div v-if="listUpcomingRides.length !== 0" id="rides-upcoming" class="list_meineFahrten">
                <a v-for="(ride, index) in listUpcomingRides" @click="showDetails(index, true)">
                    <div class="box-meine-fahrten">
                        <div class="row-no-padding">
                            <p class="start-destination">{{ride.route}}</p>
                            <img v-if="ride.repeating === 1 || ride.repeating === 2" src="../../images/icons/wiederholendeFahrt_Icon.svg" class="icon-repeating">
                        </div>
                        <p class="datetime">{{ride.date}}</p>">
                    </div>
                </a>
            </div>
            <h6 class="timing-meine-Fahrten">Vergangene Fahrten</h6>
            <div v-if="listPastRides.length !== 0" id="rides_past" class="list_meineFahrten">
                <a v-for="(ride, index) in listPastRides" @click="showDetails(index, false)">
                    <div class="box-meine-fahrten">
                        <div class="row-no-padding">
                            <p class="start-destination">{{ride.route}}</p>
                            <img v-if="ride.repeating === 1 || ride.repeating === 2" src="../../images/icons/wiederholendeFahrt_Icon.svg" class="icon-repeating">
                        </div>
                        <p class="datetime">{{ride.date}}</p>
                    </div>
                </a>
            </div>

        </section>
    </div>

    <script src="../../scripts/index.js"></script>
    <script src="../../scripts/meine_fahrten_script.js"></script>

</body>
</html>