body {
    background: #fff;
    margin:0;
    height: 100vh;
    overflow: hidden;
}

#illustration-big{
    width:100vw;
}

.fahrt-erstellen {
    color: #707070;
    font-size: 8vw;
}

#form-wrapper {
    width: 80vw;
    margin:auto;
}
