body {
    background: #fff;
    margin:0;
    height: 100vh;
    overflow: hidden;
}

#illustration-big{
    width:100vw;
    margin-top:5vw;
}

.fahrtErstellenHeading {
    color: var(--grey-dark);
    font-size: 8vw;
}

#form-wrapper {
    width: 80vw;
    margin:auto;
}
