header {
    position:fixed;
    top:0;
    width:100vw;
    height: 10vh;
    display:flex;
    justify-content: flex-start;
}

    header > div {
        width: 60vw;
        margin-left: 1vw;
    }

header h3 {
    font-family: Roboto Slab, serif;
    font-weight: normal;
    font-size: 3vh;
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
}

header a {
    height: 10vh;
    width: 20vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

header a img {
    width:50px;
    height: 50px;
    margin: auto;
   
}

.circle {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 5px solid var(--grey-light);
}

.circle-active {
    background: var(--grey-light);
}

#page-navigation {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.placeInputActive {
    margin-top: 25vw !important;
}
