@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');


@import url('meine_fahrten.css');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --red: #BC483A;
    --blue-dark: #3B4275;
    --blue-light: #F0F4F6;
    --green: #A5C03C;
    --grey-light: #C3C3C3;
}

h1 {
    font-family: Roboto Slab, serif;
    font-size: 3vh;
    font-weight: normal;
    color: var(--red);
    margin: 5vh auto;
    text-align: center;
}

h4 {
    width: 80vw;
    font-family: Montserrat, sans-serif;
    font-size: 1.7vh;
    color: var(--red);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: left;
}
