@import url('profile.css');
@import url('suchen.css');
@import url('meine_fahrten.css');
@import url(fahrt_erstellen.css);
@import url(components.css);
@import url(profile.css);
@import url(meine_fahrten.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --red: #BC483A;
    --blue-dark: #3B4275;
    --blue-light: #F0F4F6;
    --green: #A5C03C;
    --grey-dark: #707070;
    --grey-light: #C3C3C3;
    --grey-extralight: #EAEAEA;
}


.main {
    background-color: var(--blue-light);
}

.main-heading {
    padding-top: 3vh;
    padding-bottom: 3vh;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Roboto Slab, serif;
    font-size: 3vh;
    font-weight: normal;
    color: var(--red);
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

label {
    display: block;
    margin: 3vh 1vw 1vh 1vw;
    color: var(--grey-light);
    font-size: 5vw;
    font-weight: 400;
}

input {
    border: 2px solid var(--grey-extralight);
    border-radius: 50px;
    font-size: 4vw;
    font-family: Montserrat, sans-serif;
    color: var(--grey-dark);
    padding: 2.6vw 5vw;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFF;
}

input:active, input:focus {
    outline: none;
}

form {
    margin: 0 auto;
    width: 90vw;
}

.textinput {
    margin: 2vh 0 0 0;
}



.red-button { 
    width: 90vw;
    display: block;
    margin: 8vw auto;
    font-size: 5vw;
    padding: 2.1vw 5vw;   
    font-size: 4vw;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    background-color: var(--red);
    border-radius: 50px;
    border:none;
}

button:focus, button:active{
    outline:none;   
}
