@import url('profile.css');
@import url('suchen.css');
@import url('meine_fahrten.css');
@import url(fahrt_erstellen.css);
@import url(components.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --red: #BC483A;
    --blue-dark: #3B4275;
    --blue-light: #F0F4F6;
    --green: #A5C03C;
    --grey-dark: #606060;
    --grey-light: #C3C3C3;
    --grey-extralight: #EAEAEA;
}

body{
    font-family: "Roboto Slab", serif;
    overflow: scroll !important;
    color: var(--grey-dark);
}

.main-illustration {
    width: 60vw;
    margin: 0 auto 10vw auto;
    position: relative;
    display: block;
}

a {
    text-decoration: none;
}

.content-box-90 {
    width: 90vw;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20vw !important;
}

h1 {
    font-family: Roboto Slab, serif;
    font-size: 3vh;
    font-weight: normal;
    color: var(--red);
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

label {
    display: block;
    margin: 3vh 1vw 1vh 1vw;
    color: var(--grey-light);
    font-size: 5vw;
    font-weight: 400;
}

input {
    border: 2px solid var(--grey-extralight);
    border-radius: 50px;
    font-size: 4vw;
    font-family: Montserrat, sans-serif;
    color: var(--grey-dark);
    padding: 2.6vw 5vw;
    box-sizing: border-box;
    width: 100%;
    background-color: #FFF;
}

input:active, input:focus {
    outline: none;
}

form {
    margin: 0 auto;
    width: 90vw;
}

.textinput {
    margin: 4vw 0 0 0;
}

.red-button { 
    width: 100%;
    display: block;
    margin: 4vw 0;
    font-size: 4vw;
    padding: 2.1vw 5vw;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background-color: var(--red);
    border-radius: 50px;
    border: 1px solid var(--red);
}

.green-button {
    width: 100%;
    display: block;
    margin: 4vw 0;
    font-size: 4vw;
    padding: 2.1vw 5vw;
    font-family: Montserrat, sans-serif;
    color: #fff;
    background-color: var(--green);
    border-radius: 50px;
    border: 1px solid var(--green);
}

.buttonEnabled {
    background-color: green;
}

button:focus, button:active{
    outline:none;   
}

.grey-box {
    box-sizing: border-box;
    margin: 5vw auto 5vw auto;
    background-color: var(--grey-extralight);
    border-radius: 15px;
    padding: 6vw;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.grey-outline-box {
    background-color: white;
    border: 2px solid var(--grey-extralight);
}

.red-outline-box {
    background-color: white;
    border: 2px solid var(--red);
}

.overview-h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 5.5vw;
    color: var(--red);
    font-weight: 900;
    padding: 0;
    margin: 0;
    width: 90%;
    text-align: left;
    float: left;
}

.overview-h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    color: var(--grey-dark);
    padding: 0;
    margin: 0;
    margin-top:2vw;
    text-align: left;
}

.drive-details-h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 6vw;
    color: var(--grey-dark);
    font-weight: 700;
    z-index: 60;
    padding: 0;
    margin: 0;
    text-align: left;
}

.drive-details-h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 4vw;
    color: var(--grey-dark);
    font-weight: 900;
    z-index: 50;
    padding: 0;
    margin: 0;
    text-align: left;
}

.drive-details-h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.5vw;
    color: var(--grey-light);
    z-index: 50;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    text-align: left;
    width: 100%;
}

.codriver-acceptance {
    font-family: Montserrat, sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
    color: var(--grey-light);
    z-index: 50;
    padding: 0;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    text-align: left;
}

.special-heading {
    font-family: Montserrat, sans-serif;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: var(--red);
    z-index: 50;
    padding: 0;
    margin: 0;
    margin-bottom: 4vw;
    text-align: left;
}

.padding-top {
    padding-top: 6vw;
}

.box-route {
    height: 20vw;
    width: 90vw;
}

.icon-route {
    height: 20vw;
    margin: 0 5.5vw 0 2vw;
}

.drive-detail-half-page {
    width: 50%;
}