#userInput{
    width: 90vw;
    height: auto;
}

#successRegister, #successChangePw, #deleteForm, #changePwSuccess {
    width: 90vw;
    margin: 0 auto;
}

.loginDiv, .registerDiv{
    margin: 4vw 0;
}

.forgotPw {
    text-align: center;
    font-size: 5vw;
    color: var(--red);
}

#mailSent{
    height:100%;
    width: 90vw;
    margin: 40% auto 0 auto;
}