.illustration_meineFahrten {
    width: 80vw;
    margin: 5vh auto;
    display: flex;
}

#tabs_meineFahrten {
    width: 80vw;
    height: 6vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    background-color: var(--red);
    border-radius: 50px;
}

.menu {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.7vh;
    z-index: 100;
    font-family: 'Roboto Slab', serif;
}

.active_menu {
    color: var(--red);
}

.slider {
    background-color: #fff;
    color: var(--red);
    border-radius: 50px;
    position: absolute;
    left: 0vw;
    height: 6vh;
    width: 50%;
    z-index: 0;
}

h6 {
    width: 80vw;
    font-family: Montserrat, sans-serif;
    font-size: 3vw;
    color: var(--red);
    text-transform: uppercase;
    margin: 5vw auto;
}

ul {
    padding: 0px;
}

.box_meineFahrten {
    width: 80vw;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 35px;
    padding: 3vh 3vh;
    list-style: none;
}

.start_destination {
    font-family: Montserrat, sans-serif;
    font-size: 5vw;
    color: var(--red);
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}

.datetime {
    font-family: Montserrat, sans-serif;
    font-size: 3.5vw;
    color: var(--grey-light);
    padding: 0px;
    margin: 0px;
    margin-top:2vw;
}

header {
    display: flex;
}

.back {
    width: 3vw;
    margin: 3.5vh;
    z-index: 0;
    position: absolute;
}