
#profile-content {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--grey-dark);
}

#settings-content, #edit-content {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: var(--grey-dark);
}

.settings {
    width: 80vw;
    margin: 15% auto 0 auto;
}

.settings p{
    font-size:6vw;
    font-weight: 400;
}


.yes, .no, .garbage-icon {
    height: 6vw;
}

.yes {
    margin-right: 3vw;
}

.profile-picture, .settings-picture, .search-picture {
    display: block;
    width: 60vw;
    margin: 16vw auto;
}

.edit-picture {
    display: block;
    width: 60vw;
    margin: 10vw auto;
}

.profile-options {
    width: 90vw;
    margin: 15% auto 0 auto;
}

    .profile-options img {
        height: auto;
        width: 7vw;
        margin: 0 5vw 0 auto;
        position: relative;
    }

    .profile-options a {
        border: 2px solid var(--grey-extralight);
        border-radius: 50px;
        display: block;
        font-size: 5vw;
        color: var(--grey-dark);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .profile-options a:first-of-type {
        margin-bottom: 4vw;
    }

    .profile-options p {
        margin: 2.6vw 0 2.6vw 5vw;
        width: 70vw;
    }

.data {
    margin: 0 auto;
    text-align: center;
}

.name {
    font-size: 10vw;
    margin: 0 auto;
    font-weight: 400;
}

.mail {
    color: var(--grey-light);
    font-size: 5vw;
    margin: 0 auto;
}
