#search-content {
font-family: 'Roboto Slab', serif;
font-weight: 400;
color: var(--grey-dark);
}

#search-results{
    font-family: 'Roboto Slab', serif;
    color: var(--grey-dark);
    width: 75vw;
    margin:0 auto;
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight:400;
    font-size: 8vw;
    text-align: center;

    width: 70vw;
    margin: 0 auto;
}

#searchButton {
    margin: 2vh 0;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: white;
}

.buttonEnabled {
    background-color: green;
}

#driveInput{
    border: 2px solid var(--grey-extralight);
    border-radius: 15px;
    font-size: 1.8vh;
    color: var(--grey-light);
    font-family: Montserrat, sans-serif;
    padding: 6vw;
    margin: 5vh auto 5vh auto;
}

.date-time{
    margin: 2vh 0 0 0;  
}

.result {
    background-color: var(--grey-extralight);
    border-radius: 15px;
    font-size: 1.8vh;
    padding: 6vw;
    margin: 2vh auto 2vh auto;
}

#start, #end{
    color: var(--grey-dark);
    font-size: 2.5vh;
    margin: 1vh 0;
    hyphens: none;
}

.destination{
    font-size: 2.5vh;
    color: var(--red);
}

.destination, .time{
    margin:0;
}

.locations{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#route-img{
    width: 3vw;
    height:7vh;
    border: 1px solid grey;
    margin-right: 4vw;
}

.textinput{
    color: var(--grey-middle);
}