#search-content {
font-family: 'Roboto Slab', serif;
font-weight: 400;
color: var(--grey-dark);
}

h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight:400;
    font-size: 8vw;
    text-align: center;

    width: 70vw;
    margin: 0 auto;
}

#searchButton {
    margin: 2vh 0;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: white;
}

.buttonEnabled {
    background-color: green;
}