<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css"/>
    <script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
    <script src="../../scripts/index.js"></script>
    <title>Profil entfernen</title>
</head>
<body>
    <h1 id="h1">Profil entfernen</h1>
    <div id="app">
        <form v-if="!succeeded" v-on:submit="deleteUser">
            <div>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </div>
            <div>
                <label for="password">Passwort:</label>
                <input type="password" name="password" id="password" v-model="formData.password" placeholder="Passwort" required/>
            </div>
            <input type="submit" class="red-button" value="Profil entfernen"/>
            <input type="button" class="red-button" v-on:click="redirectToHome" value="Abbrechen"/>
        </form>
        <div v-else>
            <p>Profil wurde erfolgreich gelöscht.</p>
            <input type="button" class="red-button" v-on:click="redirectToLogin" value="Weiter zum Login" />
            <input type="button" class="red-button" v-on:click="redirectToRegister" value="Weiter zur Registrierung" />
        </div>
    </div>
    <script src="../../scripts/profil_entfernen.js"></script>
</body>
</html>