<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://* data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src * 'unsafe-inline';  media-src *; font-src *">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <script type="text/javascript" src="../../lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../lib/vue/vue.min.js"></script>
    <script type="text/javascript" src="../../scripts/index.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>

</head>
<body>
    <div id="app">
        <header-fahrt-erstellen title="Fahrt erstellen" :scrolling="isScrolling" @go-back="goBack()"></header-fahrt-erstellen>
        <transition :name="slide">
            <!-- ROUTE -->
            <template v-if="process[index] == 'route'">

                <div id="route" class="process-page content-box-90">
                    <div id="inputForm">
                        <img src="../../images/illustrationen/fahrt-anbieten_wohin.jpg" class="illustration-big" />
                        <h1 class="fahrt-erstellen-heading">Wohin fährst du?</h1>
                        <form id="routeForm">
                            <place-input id="start" clearid="clear-start"
                                         placeholder="Start" :loadvalue="driveData['start']"                                         
                                         @searchbox-leave="searchBoxLeave('pick')"></place-input>
                            <place-input id="destination" clearid="clear-destination"
                                         placeholder="Ziel" :loadvalue="driveData['destination']"                                         
                                         @searchbox-leave="searchBoxLeave('pick')"></place-input>
                            <ul id="suggestions" class="displayNone"></ul>
                            <button type="button" class="red-button disabled" id="submitRoute" v-on:click="complete ? submitData(['start', 'destination']) : false">Weiter</button>
                        </form>
                    </div>
                </div>
            </template>
        </transition>

        <transition :name="slide">
            <!-- REPEATING -->
            <template v-if="process[index] == 'repeating'">
                <div id="repeating" class="process-page content-box-90">
                    <img src="../../images/illustrationen/fahrt-anbieten_merkmale.jpg" class="illustration-big" />
                    <div class="lift-form">
                        <h1 class="fahrt-erstellen-heading">Fährst du regelmäßig?</h1>
                        <p>zum Beispiel wöchentlich am selben Tag und circa zur selben Zeit</p>
                        <form id="repeatingForm">
                            <div id="wrapper-yes-no">
                                <img src="../../images/icons/hakerl_icon.svg" class="icon-yes-no" id="yes" @click="clickYes" />
                                <img src="../../images/icons/x_icon_neu.svg" class="icon-yes-no" id="no" @click="clickNo" />
                            </div>
                            <button type="button" class="disabled red-button " v-on:click="complete ? submitData(['repeating']) : false" id="submitRepeating">Weiter</button>
                        </form>
                    </div>
                </div>
            </template>
        </transition>

        <!-- DATETIME -->
        <transition :name="slide">
            <template v-if="process[index] == 'dateTime'">
                <div id="dateTime" class="process-page content-box-90">
                    <img src="../../images/illustrationen/fahrt-anbieten_zeit.jpg" class="illustration-big" />
                    <h1 class="fahrt-erstellen-heading">Wann fährst du?</h1>
                    <div class="form-wrapper" v-if="!driveData['repeating']">
                        <form id="dateTimeForm">
                            <input type="date" class="dateInput textinput" id="date" v-on:input="checkIfComplete()" :value="driveData['date']" />
                            <input type="time" class="timeInput textinput" id="time" v-on:input="checkIfComplete()" :value="driveData['time']" />
                            <button type="button" class="disabled red-button" v-on:click="complete ? submitData(['date', 'time']) : false" id="submitDateTime">Weiter</button>
                        </form>
                    </div>
                    <div v-else>
                        <div class="form-wrapper">
                            <div id="weekday-wrapper">
                                <span v-for="day in weekdays" :id="day" @click="weekdayChoosen()" class="weekday">{{day}}</span>
                            </div>
                            <input type="time" class="textinput timeInput" id="time" v-on:input="checkIfComplete()" :value="driveData['time']" />
                            <div class="timespan">
                                <input type="date" placeholder="von" class="textinput dateInput" id="startDate" v-on:input="checkIfComplete()" :value="driveData['startDate']" />
                                <input type="date" class="textinput dateInput" id="endDate" v-on:input="checkIfComplete()" :value="driveData['endDate']" />
                            </div>
                            <button type="button" class="disabled red-button" v-on:click="complete ? submitData(['time','startDate', 'endDate']) : false" id="submitDateTimeRepeating">Weiter</button>
                        </div>
                    </div>
                </div>
            </template>
        </transition>

        <transition :name="slide">
            <!-- PASSENGERS -->
            <template v-if="process[index] == 'passengers'">
                <div id="passengers" class="process-page content-box-90">
                    <img src="../../images/illustrationen/fahrt-anbieten_personen.jpg" class="illustration-big" />
                    <div class="form-wrapper">
                        <h1 class="fahrt-erstellen-heading">Wieviele Personen kannst du mitnehmen?</h1>
                        <form id="personenForm">
                            <input type="number" id="numPassengers" :value="driveData['passengers']" v-on:input="checkIfComplete()" />
                            <button type="button" class="red-button disabled" id="submitPassengers" v-on:click="complete ? submitData(['passengers']) : false">Weiter</button>
                        </form>
                    </div>
                </div>
            </template>
        </transition>

        <transition :name="slide">
            <!-- DETAILS -->
            <template v-if="process[index] == 'details'">
                <div id="details" class="process-page content-box-90">
                    <img src="../../images/illustrationen/fahrt-anbieten_merkmale.jpg" class="illustration-big" />
                    <form id="detailsForm" class="lift-form">
                        <h1 class="fahrt-erstellen-heading">Wie sieht dein Auto aus? (optional)</h1>
                        <input placeholder="Kennzeichen" id="licensePlate" :value="driveData['licensePlate']" />
                        <textarea class="textarea" placeholder="Sonstige Merkmale wie Automarke, -farbe" :value="driveData['carDetails']" id="carDetails"></textarea>
                        <button type="button" class="red-button disabled" id="submitDetails" v-on:click="complete ? submitData(['licensePlate', 'carDetails']) : false">Weiter</button>
                    </form>
                </div>
            </template>
        </transition>

        <transition :name="slide">
            <!-- PRICE -->
            <template v-if="process[index] == 'price'">
                <div id="price" class="process-page content-box-90">
                    <img src="../../images/illustrationen/fahrt-anbieten_preis.jpg" class="illustration-big" />
                    <div class="priceForm">
                        <h1 class="fahrt-erstellen-heading">Wieviel soll die Fahrt kosten?</h1>
                        <form id="routeForm">
                            <input type="number" id="priceValue" :value="driveData['price']" placeholder="Preis" v-on:input="checkIfComplete()" />
                            <button type="button" class="red-button disabled" id="submitDriveData" v-on:click="complete ? submitData(['price']) : false">Fahrt erstellen</button>
                        </form>
                    </div>
                </div>
            </template>
        </transition>
        <nav-bar></nav-bar>
    </div>

    <script src="../../scripts/index.js"></script>
    <script src="../../scripts/components.js"></script>
    <script src="../../scripts/fahrt_erstellen.js"></script>
</body>
</html>