<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <script src="../../lib/vue/vue.min.js"></script>

    
</head>
<body>
    <div id="app">
        <header-fahrt-erstellen title="Fahrt erstellen" @go-back="goBack()"></header-fahrt-erstellen>

        <div id="wohin" v-if="process[index] == 'wohin'">
            <div id="nav-bar-container"></div>
            <img src="../../images/illustrationen/fahrt-anbieten_wohin.jpg" id="illustration-big" />
            <div id="form-wrapper">
                <h1 class="fahrt-erstellen-heading">Wohin fährst du?</h1>
                <form id="wohinForm">
                    <place-input id="start" placeholder="Start" :value="startValue" v-on:data-input="checkIfComplete()"></place-input>
                    <place-input id="destination" placeholder="Ziel" :value="destinationValue" v-on:data-input="checkIfComplete()"></place-input>
                    <button class="red-button disabled" id="submitWohin" v-on:click="addSubmit()">Weiter</button>
                </form>
            </div>
        </div>

        <div id="wiederholend" v-if="index == 1">
            <img src="../../images/illustrationen/fahrt-anbieten_merkmale.jpg" id="illustration-big" />
            <div id="form-wrapper">
                <h1 class="fahrt-erstellen-heading">Fährst du regelmäßig?</h1>
                <p>zum Beispiel wöchentlich am selben Tag und circa zur selben Zeit</p>
                <div id="wrapper-yes-no">
                    <img src="../../images/icons/hakerl_icon.svg" class="icon-yes-no" id="yes" @click="clickYes" />
                    <img src="../../images/icons/x_icon_neu.svg" class="icon-yes-no" id="no" @click="clickNo" />
                </div>
                <button class="red-button disabled" @click="addSubmit('wiederholend')" id="submitWiederholend">Weiter</button>
            </div>
        </div>

        <div id="wann" v-if="index == 2">
            <img src="../../images/illustrationen/fahrt-anbieten_zeit.jpg" id="illustration-big" />
            <div id="form-wrapper">
                <h1 class="fahrt-erstellen-heading">Wann fährst du?</h1>
                <input type="date" class="textinput" id="date" v-on:input="checkIfComplete()" />
                <input type="time" class="textinput" id="time" v-on:input="checkIfComplete()" />
                <button class="red-button disabled" id="submitWann" v-on:click="addSubmit()">Weiter</button>
            </div>
        </div>
            <nav-bar></nav-bar>

        </div>

        <script src="../../scripts/components.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo8Y_Ab71a8ssbE4nCzjbCWVWyZeedcHw&libraries=places&callback=initAutocomplete"
                async defer></script>
</body>
</html>